{% load static %}
{# Botón para volver arriba #}
<a class="scroll-to-top-btn" href="#">
  <i class="icon-arrow-up"></i>
</a>
{# Backdrop (bloque usado al abrir el menú principal) #}
{% if logged %}
  <div class="site-backdrop"></div>
{% endif %}
{# JavaScript (jQuery) libraries, plugins and custom scripts #}
<script src="{% static 'tracking/js/third-party/vendor.min.js' %}"></script>
<script src="{% static 'tracking/js/third-party/scripts.min.js' %}"></script>
{% if logged %}
  <script src="{% static 'tracking/js/utilities.js' %}"></script>
{% endif %}
