{% load static %}
<div class="offcanvas-container" id="mobile-menu">
  <div class="account-link">
    <div class="user-ava">
      <img src="{% static 'tracking/img/user.jpg' %}" alt="{{fullname}}" title="{{fullname}}">
    </div>
    <div class="user-info">
    <h6 class="user-name">{{fullname}}</h6>
    <span class="text-sm text-white opacity-60">{{userrole}}</span>
    </div>
  </div>
  <nav class="offcanvas-menu">
    <ul class="menu">
      {# Contenedores #}
      {% url 'container-index' as container_index %}
      {% url 'container-create' as container_create %}
      <li class="has-children active">
        <span><a href="{{container_index}}">Contenedores</a><span class="sub-menu-toggle"></span></span>
        <ul class="offcanvas-submenu">
          {% if request.path == container_index %}
            <li class="active"><a href="{{container_index}}">Búsqueda</a></li>
          {% else %}
            <li><a href="{{container_index}}">Búsqueda</a></li>
          {% endif %}
          {% if request.path == container_create %}
            <li class="active"><a href="{{container_create}}">Nuevo</a></li>
          {% else %}
            <li><a href="{{container_create}}">Nuevo</a></li>
          {% endif %}
        </ul>
      </li>
      {# Opciones de usuario #}
      <div class="offcanvas-header">
        <h3 class="offcanvas-title">Opciones de usuario</h3>
      </div>
      <li><a href="{% url 'profile' %}">Perfil</a></li>
      <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
    </ul>
  </nav>
</div>
