# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Python cache files
__pycache__
*.pyc

# Logs
*.log

# MongoDB dumps
dumps

# Environment variables
.env
env.*

# Visual Studio Code folder
.vscode

# Windows system files
Thumbs.db
desktop.ini

# Files with sensitive data
sensitive-*

# CSV files (will be loaded to Google Drive)
*.csv
