<!DOCTYPE html>
<html lang="es">
  {# Cabecera HTML #}
  {% include 'tracking/includes/header.html' %}
  <body>
    {# Menú desplegable #}
    {% include 'tracking/includes/menu.html' %}
    {# Barra superior #}
    {% include 'tracking/includes/navbar.html' %}
    {# Contenido #}
    <div class="offcanvas-wrapper">
      <div class="container padding-top-1x">
        <h3 class="margin-bottom-1x">Ingreso de datos de contenedores</h3>
        <form action="{% url 'container-save' %}" method="post">
          {% csrf_token %}
          <div class="row">
            {# Formulario de creación #}
            <div class="col-lg-5 col-sm-6">
              <div class="form-group">
                <label for="code">Código del contenedor:</label>
                <input type="text" id="code" name="code" class="form-control" placeholder="Use un formato de 4 letras más 7 cifras"
                  pattern="^[A-Za-z]{4}[0-9]{7}$" title="4 letras más 7 cifras" required="">
              </div>
              <div class="form-group">
                <label for="carrier">Empresa naviera:</label>
                <select name="carrier" id="carrier" class="form-control" required="">
                  <option value="" disabled="" selected="">Empresa que transporta el contenedor</option>
                  {% for carrier in carriers %}
                    <option value="{{ carrier.id }}">{{ carrier.name }}</option>
                  {% endfor %}
                </select>
              </div>
              {# Ubicación de origen #}
              <div class="row">
                <div class="col-12 form-group">
                  <label for="origin">Ubicación de origen:</label>
                  <input type="text" id="origin-location" name="origin-location" class="form-control location-input"
                    placeholder="Busque una ubicación de origen...">
                </div>
                <div class="col pr-2 form-group">
                  <input type="text" id="origin-latitude" name="origin-latitude" class="form-control location-latitude"
                    placeholder="Latitud origen" disabled="">
                </div>
                <div class="col pl-2 form-group">
                  <input type="text" id="origin-longitude" name="origin-longitude" class="form-control location-longitude"
                    placeholder="Longitud origen" disabled="">
                </div>
                {% comment 'TODO: Agregar estos botones' %}
                <div class="col-auto text-right">
                  <button type="button" id="origin-edit" class="btn btn-info location-edit my-0" data-toggle="tooltip"
                    data-original-title="Editar manualmente"><i class="icon-paper"></i></button>
                  <button type="button" id="origin-cancel" class="btn btn-danger location-cancel my-0" data-toggle="tooltip"
                    data-original-title="Cancelar edición" style="display: none;"><i class="icon-cross"></i></button>
                </div>
                {% endcomment %}
              </div>
              {# Ubicación de destino #}
              <div class="row">
                <div class="col-12 form-group">
                  <label for="destination">Ubicación de destino:</label>
                  <input type="text" id="destination-location" name="destination-location" class="form-control location-input"
                    placeholder="Busque una ubicación de destino...">
                </div>
                <div class="col pr-2 form-group">
                  <input type="text" id="destination-latitude" name="destination-latitude" class="form-control location-latitude"
                    placeholder="Latitud destino" disabled="">
                </div>
                <div class="col pl-2 form-group">
                  <input type="text" id="destination-longitude" name="destination-longitude" class="form-control location-longitude"
                    placeholder="Longitud destino" disabled="">
                </div>
                {% comment 'TODO: Agregar estos botones' %}
                <div class="col-auto text-right">
                  <button type="button" class="btn btn-info m-0" id="destination-edit" data-toggle="tooltip"
                    data-original-title="Editar manualmente"><i class="icon-paper"></i></button>
                  <button type="button" class="btn btn-danger m-0" id="destination-cancel" data-toggle="tooltip"
                    data-original-title="Cancelar edición" style="display: none;"><i class="icon-cross"></i></button>
                </div>
                {% endcomment %}
              </div>
            </div>
            {# Mapa #}
            <div class="col-lg-7 col-sm-6">
              <div id="create-map" class="maps"></div>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary mt-3 my-0">Guardar</button>
            <a class="btn btn-outline-secondary mt-3 my-0" href="{% url 'container-index' %}">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
    {# Footer #}
    {% include 'tracking/includes/footer.html' %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{maps}}&callback=createMap" async defer></script>
    <script>
      jQuery(document).ready(function ($) {

        /* Autocompletado de ubicaciones */

        $('.location-input').autocomplete({
          source: function (request, response) {
            $.get("{% url 'location-search' %}", request, function (data) {
              response($.map(data.locations, function (item) {
                return {
                  value: item.name,
                  label: item.name,
                  id: item.id,
                  latitude: item.latitude,
                  longitude: item.longitude
                };
              }));
            });
          },
          minLength: 3,
          select: function (event, ui) {
            var context = $(this).parents('.row').first();
            context.find('.location-latitude').val(ui.item.latitude);
            context.find('.location-longitude').val(ui.item.longitude);
          }
        });
        
        /* Editar ubicaciones */

        /* $('.location-edit, .location-cancel').click(function () {
          var context = $(this).parents('.row').first();
          context.find('.location-edit').toggle();
          context.find('.location-cancel').toggle();
          var oldDisabled = context.find('.location-latitude').prop('disabled');
          context.find('.location-latitude').prop('disabled', !oldDisabled);
          context.find('.location-longitude').prop('disabled', !oldDisabled);
        }); */

        /* Google Maps */

        var mapContainer = document.getElementById('create-map');
        var map, originMarker, destinationMarker;

        window.createMap = function () {
          map = new google.maps.Map(mapContainer, {
            center: { lat: 0, lng: 0 },
            zoom: 2
          });
        }

        $('#origin-location').on('autocompleteselect', function (event, ui) {
          // Borrar el marcador anterior, si es que existe
          if (originMarker) {
            originMarker.setMap(null);
          }
          // Crear un marcador con la nueva ubicación de origen
          originMarker = new google.maps.Marker({
            position: { lat: ui.item.latitude, lng: ui.item.longitude },
            map: map,
            title: ui.item.name
          });
        });

        $('#destination-location').on('autocompleteselect', function (event, ui) {
          // Borrar el marcador anterior, si es que existe
          if (destinationMarker) {
            destinationMarker.setMap(null);
          }
          // Crear un marcador con la nueva ubicación de destino
          destinationMarker = new google.maps.Marker({
            position: { lat: ui.item.latitude, lng: ui.item.longitude },
            map: map,
            title: ui.item.name
          });
        });

      });
    </script>
  </body>
</html>
