<!DOCTYPE html>
<html lang="es">
  {# Cabecera HTML #}
  {% include 'tracking/includes/header.html' %}
  <body>
    {# Menú desplegable #}
    {% include 'tracking/includes/menu.html' %}
    {# Barra superior #}
    {% include 'tracking/includes/navbar.html' %}
    {# Contenido #}
    <div class="offcanvas-wrapper">
      <div class="container padding-top-1x">
        <h3 class="margin-bottom-1x">Ingreso de datos de contenedores</h3>
        <form id="container-save" action="{% url 'container-save' %}" method="post">
          <div class="row">
            {# Formulario de creación #}
            <div class="col-lg-5 col-sm-6">
              <div class="form-group">
                <label for="code">Código del contenedor:</label>
                <input type="text" id="code" name="code" class="form-control" placeholder="Use un formato de 4 letras más 7 cifras"
                  pattern="^[A-Za-z]{4}[0-9]{7}$" title="4 letras más 7 cifras. Ejemplo: ABCD1234567" required="">
              </div>
              <div class="form-group">
                <label for="carrier">Empresa naviera:</label>
                <select name="carrier" id="carrier" class="form-control" required="">
                  <option value="" disabled="" selected="">Empresa que transporta el contenedor</option>
                  {% for carrier in carriers %}
                    <option value="{{ carrier.id }}">{{ carrier.name }}</option>
                  {% endfor %}
                </select>
              </div>
              {# Ubicación de origen #}
              <div class="form-group row">
                <div class="col-12">
                  <label for="origin">Ubicación de origen:</label>
                  <input type="text" id="origin-name" name="origin-name" class="form-control location-input"
                    placeholder="Busque una ubicación de origen…">
                </div>
                <div class="col mt-2 pr-2">
                  <input type="text" id="origin-latitude" name="origin-latitude" class="form-control location-latitude"
                    placeholder="Latitud de origen" disabled="">
                </div>
                <div class="col mt-2 px-2">
                  <input type="text" id="origin-longitude" name="origin-longitude" class="form-control location-longitude"
                    placeholder="Longitud de origen" disabled="">
                </div>
                <div class="col-auto pl-2 text-right">
                  <button type="button" class="btn btn-sm btn-info location-edit mx-0 mb-0" id="origin-edit" data-toggle="tooltip"
                    data-original-title="Editar manualmente"><i class="icon-paper"></i></button>
                  <button type="button" class="btn btn-sm btn-danger location-cancel mx-0 mb-0" id="origin-cancel" data-toggle="tooltip"
                    data-original-title="Cancelar edición" style="display: none;"><i class="icon-cross"></i></button>
                </div>
              </div>
              {# Ubicación de destino #}
              <div class="form-group row">
                <div class="col-12">
                  <label for="destination">Ubicación de destino:</label>
                  <input type="text" id="destination-name" name="destination-name" class="form-control location-input"
                    placeholder="Busque una ubicación de destino…">
                </div>
                <div class="col mt-2 pr-2">
                  <input type="text" id="destination-latitude" name="destination-latitude" class="form-control location-latitude"
                    placeholder="Latitud de destino" disabled="">
                </div>
                <div class="col mt-2 px-2">
                  <input type="text" id="destination-longitude" name="destination-longitude" class="form-control location-longitude"
                    placeholder="Longitud de destino" disabled="">
                </div>
                <div class="col-auto pl-2 text-right">
                  <button type="button" class="btn btn-sm btn-info mx-0 mb-0" id="destination-edit" data-toggle="tooltip"
                    data-original-title="Editar manualmente"><i class="icon-paper"></i></button>
                  <button type="button" class="btn btn-sm btn-danger mx-0 mb-0" id="destination-cancel" data-toggle="tooltip"
                    data-original-title="Cancelar edición" style="display: none;"><i class="icon-cross"></i></button>
                </div>
              </div>
            </div>
            {# Mapa #}
            <div class="col-lg-7 col-sm-6">
              <div id="create-map" class="maps"></div>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-sm btn-primary mt-3 my-0" type="submit">Guardar</button>
            <a class="btn btn-sm btn-outline-secondary mt-3 my-0" href="{% url 'container-index' %}">Cancelar</a>
          </div>
        </form>
      </div>
    </div>
    {# Footer #}
    {% include 'tracking/includes/footer.html' %}
    {% load static %}
    <script>
      jQuery(document).ready(function ($) {

        /* Autocompletado de ubicaciones */

        $('.location-input').autocomplete({
          source: function (request, response) {
            $.get("{% url 'location-search' %}", request, function (data) {
              response($.map(data.locations, function (item) {
                return {
                  value: item.name,
                  label: item.name,
                  id: item.id,
                  latitude: item.latitude,
                  longitude: item.longitude
                };
              }));
            });
          },
          minLength: 3,
          select: function (event, ui) {
            var context = $(this).parents('.row').first();
            context.find('.location-latitude').val(ui.item.latitude);
            context.find('.location-longitude').val(ui.item.longitude);
          }
        });
        
        /* Editar ubicaciones */

        /* $('.location-edit, .location-cancel').click(function () {
          var context = $(this).parents('.row').first();
          context.find('.location-edit').toggle();
          context.find('.location-cancel').toggle();
          var oldDisabled = context.find('.location-latitude').prop('disabled');
          context.find('.location-latitude').prop('disabled', !oldDisabled);
          context.find('.location-longitude').prop('disabled', !oldDisabled);
        }); */

        /* Guardar ubicaciones */

        $('#container-save').submit(function (e) {
          e.preventDefault();
          // Obtener los datos del contenedor
          var query = {
            code: $('#code').val(),
            carrier_id: $('#carrier').val(),
            origin_name: $('#origin-name').val(),
            origin_latitude: $('#origin-latitude').val(),
            origin_longitude: $('#origin-longitude').val(),
            destination_name: $('#destination-name').val(),
            destination_latitude: $('#destination-latitude').val(),
            destination_longitude: $('#destination-longitude').val()
          };
          // Realizar la petición al servidor
          $.ajax({
            type: 'POST',
            url: "{% url 'container-save' %}",
            beforeSend: function (request) {
              request.setRequestHeader('X-CsrfToken', '{{ csrf_token }}');
            },
            data: query,
            success: function (response) {
              if (response.error) {
                return showErrorMessage(response.message);
              }
              // Ir a la pantalla principal, donde se mostrará el mensaje
              window.location = "{% url 'container-index' %}";
            }
          });

        });

      });

      /* Google Maps */

      var mapContainer = document.getElementById('create-map');
      var map, originMarker, destinationMarker;

      function createMap() {
        map = new google.maps.Map(mapContainer, {
          center: { lat: 0, lng: 0 },
          zoom: 2
        });
      }

      jQuery('#origin-name').on('autocompleteselect', function (event, ui) {
        // Borrar el marcador anterior, si es que existe
        if (originMarker) {
          originMarker.setMap(null);
        }
        // Crear un marcador con la nueva ubicación de origen
        if (typeof google !== 'undefined') {
          originMarker = new google.maps.Marker({
            position: { lat: ui.item.latitude, lng: ui.item.longitude },
            map: map,
            icon: "{% static 'tracking/img/marker-red.png' %}",
            title: ui.item.name
          });
        }
      });

      jQuery('#destination-name').on('autocompleteselect', function (event, ui) {
        // Borrar el marcador anterior, si es que existe
        if (destinationMarker) {
          destinationMarker.setMap(null);
        }
        // Crear un marcador con la nueva ubicación de destino
        if (typeof google !== 'undefined') {
          destinationMarker = new google.maps.Marker({
            position: { lat: ui.item.latitude, lng: ui.item.longitude },
            map: map,
            icon: "{% static 'tracking/img/marker-blue.png' %}",
            title: ui.item.name
          });
        }
      });
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{maps}}&callback=createMap" async defer></script>
  </body>
</html>
