<!DOCTYPE html>
<html lang="es">
  {# Cabecera HTML #}
  {% include 'tracking/includes/header.html' %}
  <body>
    {# Menú desplegable #}
    {% include 'tracking/includes/menu.html' %}
    {# Barra superior #}
    {% include 'tracking/includes/navbar.html' %}
    {# Contenido #}
    <div class="offcanvas-wrapper">
      <div class="container padding-top-1x">
        <h3 class="margin-bottom-1x">Detalles del contenedor {{container.code}}</h3>
        <div class="row margin-bottom-1x">
          <div class="col-md-6 col-12"><strong>Empresa naviera:</strong> {{container.carrier}}</div>
          <div class="col-md-6 col-12">
            <strong>Ubicación de origen:</strong>
            {% if container.origin %}{{container.origin}}{% else %}No especificado{% endif %}
          </div>
          <div class="col-md-6 col-12">
            <strong>Ubicación de destino:</strong>
            {% if container.destination %}{{container.destination}}{% else %}No especificado{% endif %}
          </div>
          <div class="col-md-6 col-12">
            <strong>Fecha estimada de llegada:</strong> {{container.formatted_arrival_date}}
          </div>
        </div>
        {% if movements %}
          {# Mapa del recorrido #}
          <h5 class="mb-3">Mapa del recorrido</h5>
          <div id="movements-map" class="maps"></div>
          {# Lista de movimientos #}
          <h5 class="margin-top-1x">Lista de movimientos</h5>
          <div class="card-container row" id="container-movements">
            {% for movement in movements %}
            <div class="col-lg-4 col-sm-6 col-12">
              <div class="card" style="height: 100%;">
                <div class="card-header">
                  <h6>{{movement.translation}}</h6>
                </div>
                <div class="card-body">
                  <div>
                    <strong>Fecha:</strong> {{movement.formatted_date}}
                    {% if movement.estimated %}(estimada){% endif %}
                  </div>
                  <div>
                    <strong>Ubicación:</strong> {{movement.formatted_location}}<br>
                    ({{movement.formatted_latitude}}, {{movement.formatted_longitude}})
                  </div>
                  <div><strong>Vía de transporte:</strong> {{movement.vehicle}}</div>
                  {% if movement.vessel %}
                    <div><strong>Buque:</strong> {{movement.vessel}}</div>
                  {% endif %}
                  {% if movement.voyage %}
                    <div><strong>Número de viaje:</strong> {{movement.voyage}}</div>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        {% else %}
          <h5>Lista de movimientos</h5>
          <p>No se encontraron movimientos para este contenedor.</p>
        {% endif %}
        <div class="text-center">
          <!-- a class="btn btn-sm btn-primary mt-3 my-0" href="#">Exportar</a -->
          <a class="btn btn-sm btn-outline-secondary my-0" href="{% url 'container-index' %}">Regresar</a>
        </div>
      </div>
    </div>
    {# Footer #}
    {% include 'tracking/includes/footer.html' %}
    {% load static %}
    {% if movements %}
    <script>
      function createMap() {
        // Crear el mapa
        var mapContainer = document.getElementById('movements-map');
        var map = new google.maps.Map(mapContainer, {
          center: { lat: 0, lng: 0 },
          zoom: 2
        });
        // Obtener la lista de marcadores
        var markers = [
          "{% static 'scharff/img/marker-red.png' %}",
          "{% static 'scharff/img/marker-blue.png' %}",
          "{% static 'scharff/img/marker-green.png' %}",
          "{% static 'scharff/img/marker-pink.png' %}",
          "{% static 'scharff/img/marker-yellow.png' %}"
        ];
        // Obtener los movimientos
        var locations = {{locations|safe}};
        // Ubicar los movimientos en el mapa
        var markerCount = 0;
        var previousLocation = null;
        for (var i = 0; i < locations.length; i++) {
          var location = validateLocation(locations[i], previousLocation);
          if (location == null) continue;
          // Colocar el marcador
          var marker = new google.maps.Marker({
            position: location,
            map: map,
            icon: markers[markerCount % 5],
            title: locations[i].name
          });
          // Colocar una línea entre este marcador y el anterior
          if (previousLocation) {
            var line = new google.maps.Polyline({
              path: [previousLocation, location],
              geodesic: true,
              strokeColor: '#FF0000',
              strokeOpacity: 1.0,
              strokeWeight: 2
            });
            line.setMap(map);
          }
          // Actualizar los valores
          markerCount++;
          previousLocation = location;
        }
      }
      function validateLocation(location, previous) {
        // Verificar que los datos de la ubicación no sean vacíos
        if (location.latitude == null || location.longitude == null) return null;
        // Verificar que la ubicación no sea la misma que la anterior
        if (previous != null && equals(location.latitude, previous.lat, 0.0001) &&
            equals(location.longitude, previous.lng, 0.0001)) {
          return null;
        }
        // Transformar a un objeto de latitud/longitud para usar en Google Maps
        return { lat: location.latitude, lng: location.longitude };
      }
      function equals(number1, number2, precision) {
        return Math.abs(number1 - number2) < precision;
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{maps}}&callback=createMap" async defer></script>
    {% endif %}
  </body>
</html>
