<!DOCTYPE html>
<html lang="es">
  {# Cabecera HTML #}
  {% include 'tracking/includes/header.html' %}
  <body>
    {# Modales #}
    {% include 'tracking/container/modals/import.html' %}
    {# Menú desplegable #}
    {% include 'tracking/includes/menu.html' %}
    {# Barra superior #}
    {% include 'tracking/includes/navbar.html' %}
    {# Contenido #}
    <div class="offcanvas-wrapper">
      <div class="container padding-top-1x">
        <h3 class="margin-bottom-1x">Contenedores marítimos</h3>
        {# Formulario de búsqueda #}
        <div class="bg-secondary pt-3 px-3">
          <div class="row">
            {# Código del contenedor #}
            <div class="col-lg-4 col-sm-6 form-group order-lg-first">
              <label for="code">Código del contenedor:</label>
              <input type="text" name="code" id="code" class="form-control" placeholder="Máximo 11 caracteres (4 letras + 7 cifras)">
            </div>
            {# Empresa naviera #}
            <div class="col-lg-4 col-sm-6 form-group">
              <label for="carrier">Empresa naviera:</label>
              <select name="carrier" id="carrier" class="form-control placeholder">
                <option value="" disabled="" selected="">Empresa que transporta el contenedor</option>
                {% for carrier in carriers %}
                  <option value="{{ carrier.id }}">{{ carrier.name }}</option>
                {% endfor %}
              </select>
            </div>
            {# Fechas de registro #}
            <div class="col-lg-4 col-sm-6 form-group order-lg-first">
              <label for="date-since">Registrados desde:</label>
              <input type="text" name="date-since" id="date-since" class="form-control date-input"
                placeholder="Fecha de registro mínima a buscar">
            </div>
            <div class="col-lg-4 col-sm-6 form-group order-lg-first">
              <label for="date-until">Registrados hasta:</label>
              <input type="text" name="date-until" id="date-until" class="form-control date-input"
                placeholder="Fecha de registro máxima a buscar">
            </div>
            {# Ubicaciones #}
            <div class="col-lg-4 col-sm-6 form-group">
              <label for="origin">Ubicación de origen:</label>
              <input type="text" name="origin" id="origin" class="form-control location-input"
                placeholder="Busque una ubicación de origen...">
            </div>
            <div class="col-lg-4 col-sm-6 form-group">
              <label for="destination">Ubicación de destino:</label>
              <input type="text" name="destination" id="destination" class="form-control location-input"
                placeholder="Busque una ubicación de destino...">
            </div>
          </div>
          {# Botones #}
          <div class="d-flex justify-content-end">
            <div class="pb-3">
              <a class="btn btn-primary my-0" href="{% url 'container-create' %}"><i class="icon-plus"></i> Nuevo contenedor</a>
            </div>
            <div class="pb-3">
              <button class="btn btn-success my-0" data-toggle="modal" data-target="#import-modal"><i class="icon-upload"></i> Importar</button>
            </div>
            <div class="pb-3">
              <button class="btn btn-info my-0"><i class="icon-search"></i> Buscar</button>
            </div>
          </div>
        </div>
        {# Resultados de la búsqueda #}
        <h4 class="margin-top-1x">Resultados de la búsqueda</h4>
        <hr class="margin-bottom-1x">
        <p id="results-message">Presione <strong>Buscar</strong> para ver la lista de contenedores.</p>
        <div class="card-container" id="results">
          {# Lista de contenedores #}
        </div>
        {# Paginado #}
        <div class="entry-navigation">
          <div class="column text-left">
            <a class="btn btn-sm btn-outline-secondary" href="#">
              <i class="icon-arrow-left"></i> <span class="d-sm-inline d-none">Anterior</span>
            </a>
          </div>
          <div class="column">Página <strong id="page-current"></strong> de <strong id="page-total"></strong></div>
          <div class="column text-right">
            <a class="btn btn-sm btn-outline-secondary" href="#">
              <span class="d-sm-inline d-none">Siguiente</span> <i class="icon-arrow-right"></i>
            </a>
          </div>
        </div>
        {# Fin resultados de la búsqueda #}
      </div>
    </div>
    {# Footer #}
    {% include 'tracking/includes/footer.html' %}
    <script>
      jQuery(document).ready(function ($) {

        /* Autocompletado de ubicaciones */

        $('.location-input').autocomplete({
          source: function (request, response) {
            $.get("{% url 'location-search' %}", request, function (data) {
              response($.map(data.locations, function (item) {
                return {
                  value: item.name,
                  label: item.name,
                  id: item.id
                };
              }));
            });
          },
          minLength: 3
        });

        /* Resultados de la búsqueda */

      });
    </script>
  </body>
</html>
