<!DOCTYPE html>
<html lang="es">
  {% load static %}
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Scharff - Log&iacute;stica Integral</title>
    <!-- Meta tag para moviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Estilos incluyendo: Bootstrap, Font Icons, Plugins, etc.-->
    <link rel="stylesheet" href="{% static 'tracking/css/vendor.min.css' &}">
    <link id="mainStyles" rel="stylesheet" href="{% static 'tracking/css/styles.min.css' %}">
    <link id="customStyles" rel="stylesheet" href="{% static 'tracking/css/custom.css' %}">
    <!-- Modernizr -->
    <script type="text/javascript" src="{% static 'tracking/js/modernizr.min.js' %}"></script>
  </head>
  <body class="body-login">
    <!-- Header -->
    <header class="navbar navbar-login">
      <div class="site-branding">
        <!-- Site Logo-->
        <div class="inner"><div class="site-logo"><img src="img/logo_white.png" alt="Scharff" title="Scharff"></div></div>
      </div>
    </header>
    <!-- Contenido -->
    <div class="container-fluid scharff-login">
      <!-- Formulario de inicio de sesion -->
      <form class="login-box" method="post">
        <h4 class="mb-3">Inicio de sesión</h4>
        <!-- Usuario y contraseña -->
        <div class="form-group input-group">
          <input class="form-control" type="text" placeholder="Usuario" required />
          <span class="input-group-addon"><i class="icon-head"></i></span>
        </div>
        <div class="form-group input-group">
          <input class="form-control" type="password" placeholder="Contrase&ntilde;a" required />
          <span class="input-group-addon"><i class="icon-lock"></i></span>
        </div>
        <!-- Ingresar y otras opciones -->
        <div class="text-center">
          <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
      </form>
    </div>
    <!-- Boton para volver arriba -->
    <a class="scroll-to-top-btn" href="#">
      <i class="icon-arrow-up"></i>
    </a>
    <!-- JavaScript (jQuery) libraries, plugins and custom scripts-->
    <script type="text/javascript" src="{% static 'tracking/js/vendor.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'tracking/js/scripts.min.js' %}"></script>
  </body>
</html>
