/***** Inicio de sesion *****/

.navbar {
  background-color: #ff525a;
  height: 84px;
}
.scharff-login {
  background-color: #fbfbfb;
  min-height: calc(100vh - 84px);
}
.login-box {
  width: 100%;
  background-color: white;
}
@media (min-width: 432px) {
  .login-box {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  } 
}
@media (min-width: 768px) {
  .scharff-login {
    background: #fbfbfb url('../img/slider.png') /* no-repeat center center fixed */;
    background-size: cover;
  }
  .login-box {
    margin-right: 0;
  }
}

/***** Contenedores *****/

.offcanvas-wrapper {
  min-height: calc(100vh - 84px); /* Interaccion del contenido con el menu desplegable */
}
.container, .container-fluid {
  padding: 1rem;
}

/***** Toolbar de usuario *****/

.toolbar .account {
  width: auto;
  padding: 0 16px;
  border-radius: 22px;
}
.toolbar .account > .account-label {
  display: inline-block;
  margin-top: 2px;
  margin-left: 3px;
  font-size: 14px;
  vertical-align: middle;
}
.toolbar .account > .toolbar-dropdown {
  left: auto;
  right: 0;
  width: 260px;
}
@media (max-width: 767.98px) {
  .toolbar .account > .account-label {
    display: none;
  }
}

/***** Tarjetas de resultados de la búsqueda *****/

.card-header {
  padding: .75rem 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body .btn {
  margin-top: .5rem;
  margin-bottom: 0;
}
.card-footer {
  background-color: transparent;
}
.card-footer .btn {
  margin-top: 0;
  margin-bottom: 0;
}

.card-item {
  display: block;
}
@media (min-width: 576px) {
  .card-item {
    display: inline-block;
  }
  .card-item:not(:last-child)::after {
    content: ' |';
    color: #dddddd;
    padding-left: .25rem;
    padding-right: .25rem;
  }
}

.card-container {
  margin-bottom: 1rem;
}
.card-container .card:not(:first-child) {
  margin-top: 1rem;
}

/***** Selects con placeholders *****/

select.placeholder {
  color: #9da9b9;
}
option[value=""] {
  color: #9da9b9;
}

/***** Mapas *****/

.maps {
  height: 100%;
  width: 100%;
}